/***************************
* Cusom Fonts
* 1. Droid Arabic Kufi, by Google
* 2. Droid Arabic Naskh, also by Google
* 3. Beutiful Amiri, Opensource.
****************************/
.set-grey{
  background: #aaa !important;
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.ttf) format('truetype');
}

/* 
 * Amiri (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.ttf) format('truetype');
}

.rtl{direction:rtl}

a.fa.o_menu_toggle.fa-th {
    float: right;
}

.o_main_navbar > ul > li{
float: right;
}

.o_main_navbar .o_menu_brand {
    float: right;
    margin-left: 35px;
}

.o_main_navbar > ul {
    float: right;
}

.o_main_navbar > ul.o_menu_systray {
    float: left;
}

.o_control_panel .o_cp_right .o_cp_pager {
    margin: auto auto auto 0;
}

.dropdown-menu > li > a {
float: right;
direction: rtl;
}

.rtl .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}