/***************************
* Cusom Fonts
* 1. Droid Arabic Kufi, by Google
* 2. Droid Arabic Naskh, also by Google
* 3. Beutiful Amiri, Opensource.
****************************/
.set-grey{
  background: #aaa !important;
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.ttf) format('truetype');
}

/* 
 * Amiri (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.ttf) format('truetype');
}

.rtl{direction:rtl}

a.fa.o_menu_toggle.fa-th {
    float: right;
}

.o_main_navbar > ul > li{
float: right;
}

.o_main_navbar .o_menu_brand {
    float: right;
    margin-left: 35px;
    margin-right: 0;
}

.o_main_navbar > ul {
    float: right;
}

.o_main_navbar > ul.o_menu_systray {
    float: left;
}

.o_control_panel .o_cp_right .o_cp_pager {
    margin: auto auto auto 0;
}

.dropdown-menu > li > a {
float: right;
direction: rtl;
}

.rtl .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

.rtl .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
text-align: right;
}

.rtl .nav-tabs > li {
float: right;
}

.rtl ul.nav.nav-tabs {
    padding-right: 0;
    padding-left: 40px;
}

.rtl .o_kanban_view .o_kanban_record .o_kanban_image + div {
    padding-left: 0;
    padding-right: 72px;
}

.rtl .o_kanban_view .o_kanban_record .o_kanban_image {
    text-align: center;
    float: right;
}

.rtl .o_searchview .o_searchview_autocomplete li {
    padding-right: 25px;
}

.rtl .o_form_view .oe_button_box .btn.oe_stat_button {
    padding: 5px 12px 5px 0;
    text-align: right;
}

.rtl .o_form_view .oe_button_box > .o_dropdown_more {
    left: 0;
    right: auto;
}

.o_form_view .oe_button_box.o_full .oe_stat_button:not(.o_form_invisible) ~ .oe_stat_button {
    border-right: 1px solid #8f8f8f;
}

.rtl .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info {
    padding-right: 0;
    padding-left: 12px;
}

.rtl button.btn.btn-sm.oe_stat_button.o_button_more.dropdown-toggle {
    padding: 5px 12px 5px 0px;
}

.o_application_switcher {
    direction: rtl;
}

.rtl .o_searchview .o_searchview_facet .o_facet_remove {
    left: 0;
    right: auto;
}

.rtl .o_searchview .o_searchview_facet .o_facet_values {
    padding: 0 5px 0 18px;
}

.rtl .o_searchview .o_searchview_facet {
        margin: 1px 0 0 3px;
}

.rtl .col-lg-3.col-md-3.col-sm-6.col-xs-12.o_web_settings_dashboard_col {
    float: right;
}

.rtl .o_form_view .oe_avatar {
    float: left;
}

.o_form_view .oe_avatar + .oe_title {
    padding-left: 100px;
    padding-right: 0;
}

@media (min-width: 480px)
web.assets_backend.0.css:105
.rtl .o_form_view .oe_title {
    padding-left: 45px;
    padding-right: 0px;
}

.rtl .dropdown-menu {
    right: 0;
    left: auto;
}

.rtl .dropdown-menu > li > a {
    text-align: right;
    width: 100%;
}

.rtl .o_main_navbar > ul.o_menu_systray .open .dropdown-menu {
    left: 0;
    right: auto;
}

.rtl .o_kanban_view .o_kanban_record .o_dropdown_kanban {
    float: left;
}

.rtl img.oe_kanban_avatar.pull-right {
    float: left !important;
}

.rtl button.o_follow_btn.o_following.btn.btn-sm.btn-default.oe_kanban_action.oe_kanban_action_button {
    right: auto;
    left: 8px;
}

.rtl .o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_text {
    text-align: right;
}

.rtl .o_progressbar .o_progressbar_title {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 0;
}

.rtl .o_progressbar .o_progressbar_value {
    padding-left: 0px;
    padding-right: 10px;
}

.rtl .o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header .o_kanban_manage_button_section .o_kanban_manage_toggle_button, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header .o_kanban_manage_button_section .o_kanban_manage_toggle_button {
    text-align: left;
    direction: ltr;
}

.rtl .col-xs-6.o_kanban_primary_left {
    float: right;
}

.rtl .o_form_view .o_group.o_inner_group > tbody > tr > td {
    padding: 0 0 0 45px;
}

.rtl .o_calendar_container .o_calendar_sidebar_container .o_calendar_sidebar {
    width: 250px;
    padding-left: 0;
    padding-right: 8px;
}

.rtl .o_calendar_container .o_calendar_sidebar_container .o_calendar_sidebar_toggler {
    left: 0;
    right: auto;
}

.rtl .o_form_view .o_form_input_dropdown .o_dropdown_button {
    left: 0;
    right: auto;
}

.rtl .o_kanban_view.o_kanban_dashboard.o_project_kanban .o_project_kanban_main .o_project_kanban_manage .o_left {
    right: 0;
    left: auto;
    direction: ltr;
}

.rtl .o_form_view .o_form_statusbar > .o_statusbar_status .o-status-more > li > button {
    width: 100%;
    text-align: right;
}

.rtl .o_form_view .o_form_statusbar > .o_statusbar_status .o-status-more {
    left: 0;
    right: auto;
}

.rtl .o_form_view .o_form_sheet > .o_kanban_selection {
    float: left;
}
